* {
    box-sizing: border-box;
}

:root {
    --primary: #caebf2;
    --secondary: #001f3f;
    --tertiary: #2e435e;
}
body {
    font-family: 'Noto Sans', sans-serif;
    background-color: var(--primary);
    color: var(--secondary);
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: var(--tertiary);
}

header h1 {
    background-color: var(--primary);
    color: var(--tertiary);
    border-radius: 5px;
    padding: 5px 1% 5px 6%;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding 5px 10px;
    color: var(--primary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    transition: all ease-in .2s;
    font-size: 140%;
    border-radius: 5px;
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--secondary);
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin: 20px 0 45px 0;
}

.hero {
    background-image: url("../images/hero-image.jpg");
    background-size: cover;
    background-position: center;
    min-height: 30vh;
    color: var(--primary);
    padding: 2% 6%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: right;
}

.hero div {
    flex: 0 0 90%;
}

.hero h2 {
    background-color: var(--primary);
    color: var(--secondary);
    border-radius: 5px;
    margin: 0;
    padding: 5px 10px;
    font-size: 200%;
    line-height: 1.2;
    display: inline;
}

.main-wrapper {
    max-width: 90%;
    margin: 0 auto;
}

.section {
    margin: 25px 0;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.section > h2 {
    flex: 0 0 20%;
    text-align: right;
    padding: 15px;
    border-right: 3px solid var(--secondary);
    font-size: 300%;
    line-height: 1.1;
    
}

.section > div {
    flex: 0 0 80%;
}

.section p {
    margin-bottom: 20px;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.horiseon-image {
    background-image: url("../images/horiseon-project-image.png");
}

.project-image {
    background-image: url("../images/project-image.jpg");
}

.flex-project {
    border: 5px solid var(--secondary);
    border-radius: 5px;
	box-shadow: 0 4px 6px 0 #223c5029;
	transition: all ease-in-out .2s;
    min-width: 150px;
    min-height: 150px;
    flex-basis: auto;
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    font-size: 90%;
}

.flex-project:first-child {
    min-height: 400px;
    flex-basis: 100%;
}

.flex-project:hover {
    filter: brightness(.75);
	box-shadow: 0 8px 12px 0 #223c5029;
}

.flex-project div {
    padding: 8px 10px;
}

.flex-project h3 {
    font-size: 150%;
}

.contact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    color: var(--secondary);
    background-image: linear-gradient(270deg, var(--tertiary) 0%, var(--tertiary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    transition: all ease-in .2s;
    font-size: 140%;
    border-radius: 5px;
}

.contact address a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {

}