* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: #caebf2;
    color: #001f3f;
    line-height: 1.5;
}

h1, h2, h3 {
    margin: 0;
}

p {
    margin: 0;
}

header {
    padding: 15px 6% 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #2e435e;
}

header h1 {
    background-color: #caebf2;
    color: #2e435e;
    padding: 5px 1% 5px 6%;
    font-size: 4vw;
    line-height: 1;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding 5px 10px;
    color: #caebf2;
    margin-right: 10px;
    background-image: linear-gradient(270deg, #caebf2 0%, #caebf2 100%);
    background-repeat: no-repeat;
    background-size: 100% 10%;
    background-position: bottom;
    transition: all ease-in .2s;
    font-size: 140%;
}

nav a:hover {
    background-size: 100% 100%;
    color: #001f3f;
}

nav a:last-child {
    margin-right: 0;
}

main {
    margin: 20px 0 45px 0;
}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 768px) {
    
}